body {
  height: calc(100vh - 56px);
}

#app {
  width: 100%;
  height: 90%;
  ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: space-around;
      .btn-container {
        height: 100%;
        flex-grow: 0 0 25%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .walk {
          background: image-url("walk_color_512.gif") no-repeat;
        }
        .idle {
          background: image-url("idle_color_512.gif") no-repeat;
        }
        .nuclear {
          background: image-url("nuclear.gif") no-repeat;
        }
        .dragon-ball {
          background: image-url("dragon_ball.gif") no-repeat;
        }
        .button {
          background-position: center center;
          background-size: cover;
          // border: 4px solid grey;
          border-radius: 10%;
          margin: auto 0;
          vertical-align: middle;
          width: 50px;
          height: 50px;
          position: relative;
          .counter {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            color: green;
            font-weight: bold;
            background-color: white;
            border: 2px solid green;
            border-radius: 50%;
            padding: 0px 5px;
          }
        }
      }
    }
  }
}
